*{margin: 0px; padding: 0px; box-sizing: border-box;}
.container{height: auto; width: 100%; background-color:#FFFFFF;}
/* navigation start */

.nav{display: flex; position: sticky; top: 0px; z-index: 1;
justify-content: space-between;
align-items: center; color: rgb(68, 63, 63);
background: #F9F9FC; padding: 10px 20px;}


.menulink{display: flex; gap: 10px; margin-right: 30px;}
a{color: black; text-decoration: none; padding: 10px 10px; }

a:hover{background: rgb(95, 93, 93); color: white; 
border-radius: 20px;}
.icon{font-size: 15px ; margin-top: 12px; cursor: pointer;  position: relative;& i{margin-right: 10px;}   }
.imon{display: none;}


.togglebutton{flex-direction: column;display: none; gap: 5px; cursor: pointer;
    background: none; border: none;}
.togglebutton span{
        width: 25px;
        height: 3px;
        background: rgb(68, 63, 63);
        border-radius: 2px;
        transition: all 0.3s ease;}
.bar{width: 25px; height: 3px; background: white; border-radius: 5px;}

.mid{
  height: 500px; width: 100%;  position: relative; top: 4px; left: 0px; right: 0px;
    background: #FFFFFF; 
}
.wleft{height: 500px; width: 40%; float: right; display: flex; & img{height: auto; max-width: 100%;}}
.wright{height: 500px; width: 60%; float: left; text-align: center; font-size: 50px; margin-top: 50px;

}
#shopbtn{padding: 10px; 
  border-radius: 20px; font-size: 15px; background: black; color: white; cursor: pointer;}
#shopbtn:hover{background: white; color: black; border-radius: 20px;}




.slider-container{ height: 600px; width: 90%;  align-items: center; 
position: relative; top: 2px; right: 5%; left: 10%; overflow: hidden;
 }

.slides {
  display: flex;
}

.slide-fade {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
}

.slide-fade img {
  height: auto; max-width: 100%;
  display: block;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(235, 119, 119);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dots-container {
  text-align: center;
  padding: 29px;
  background: transparent; position:absolute; top: 1180px; left: 40%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #363333;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

.slide-fade{
  animation-name: fade;
  animation-duration: 1.5s;
}






.phn{height: 450px; width: 100%; display: flex; gap: 2px; 
  background:transparent;
  align-items: center;
  justify-content: center;

position: relative; top: 100px; }
.phn img{height: 400px; width: 245px; cursor: pointer;
   &:hover{ border-radius: 50px; box-shadow: 10px 10px 10px 10px #6de4e7;}} 

  .s-lider {
    width: 80%;
    height: 500px;  border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: 1px red;
    margin: 0 auto; top: 200px;
}
.ur{
  font-size: 56px;
}

.s-lides {
    display: flex;
    width: 300%; 
    height: 100%;
    animation: sli 14s infinite; 
    
}


.slidea {
    width: 40.33%;
    height: 100%;
    flex-shrink: 0;
}

.slidea img { height: 100%; max-width: 100%;
     overflow: hidden;
    object-fit: cover;
}
@keyframes sli {
  20% { transform: translateX(0%); }    
  40% { transform: translateX(-40%); }   
 
  60% { transform: translateX(-80%); }
  
  80% { transform: translateX(-120%); }
  
  100% { transform: translateX(-160%); }
  
}


















@media only screen and (max-width:768px){
  .icon{display: none;}
  .imon{display: flex;  position: relative; left: 70px; font-size: 25px; & i{padding: 10px;}}
    .menulink{display: none; flex-direction: column; width: 100%; text-align: center; position: absolute;
    left: 0px; top: 70px; background:#F9F9FC; z-index: 1;
    }
    .active{display: flex;}
   .togglebutton{display: flex; } 

   .wleft{height: 400px; width: 100%; float: right; display: flex;
    flex-direction: column; z-index: -1; & img{height: auto; max-width: 100%;}}

    .wright{height: 500px; width: 60%; float: left; text-align: center; font-size:25px; margin-top: 90px;
    position: relative; top: 250px; left: 90px;}

    #shopbtn{padding: 7px; 
      border-radius: 15px; font-size: 10px; background: black; color: white; cursor: pointer;}
      #shopbtn:hover{background: white; color: black; border-radius: 20px;}
   


      .slider-container{ height: 600px; width: 90%;  align-items: center; 
        position: absolute; top: 1200px; right: 5%; overflow: hidden;}
    
        .slides {
          display: flex;
        }
        
        .slide-fade {
          flex: 0 0 100%;
          transition: transform 0.5s ease;
        }
        
        .slide-fade img {
          height: auto; max-width: 100%;
          display: block;
        }
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 25%;
          width: auto;
          padding: 14px;
          margin-top: -22px;
          color: rgb(235, 119, 119);
          font-weight: bold;
          font-size: 25px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        
        .prev:hover, .next:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
        .dots-container {
          text-align: center;
          padding: 20px;
          background: transparent; position:absolute; top: 1550px; left: 35%;
        }
        
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #363333;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        

.phn{height: 500px; width: 100%; flex-direction: column; gap: 2px; background:transparent;
  
          position: relative; top: 600px; left: 50px; }
.phn img{height: 450px; width: 350px; cursor: pointer;
 &:hover{ border-radius: 50px; box-shadow: 10px 10px 10px 10px #6de4e7;}} 

 .s-lider {
  width: 80%;
  height: 500px;  border-radius: 40px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; top: 2450px;
}
        
      
      
}
  


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }   
